<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="@string/version_name"
          package="com.bill.zhihu.api">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
        >

    </application>

</manifest>
