<manifest
    package="com.bill.zhihu"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="@string/app_version_name">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- umeng-->
    <!-- 必选 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--【必选】用以设置前台是否显示通知 -->
 <!--   <uses-permission android:name="android.permission.GET_TASKS" />-->

        <application
            android:name="com.bill.zhihu.ZhihuApp"
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <!-- u meng push -->
            <meta-data
                android:name="UMENG_APPKEY"
                android:value="55f3d94767e58e4fb0003273" >
            </meta-data>
            <meta-data
                android:name="UMENG_MESSAGE_SECRET"
                android:value="01d30d70641221fd8ce89f818d9394e2" >
            </meta-data>
            <!-- u meng push -->

            <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>
            <activity
                android:name="com.bill.zhihu.login.ActivityLogin"
                android:label="@string/action_default_title"></activity>
            <activity
                android:name="com.bill.zhihu.home.ActivityHome"
                android:icon="@mipmap/icon"
                android:label="@string/action_default_title"/>
            <activity
                android:name="com.bill.zhihu.answer.ActivityAnswer"
                android:icon="@mipmap/icon"
                android:label="@string/action_default_title"/>
            <activity
                android:name="com.bill.zhihu.question.ActivityQuestion"
                android:icon="@mipmap/icon"
                android:label="@string/action_default_title"/>

        </application>

    </manifest>
