<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bill.zhihu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:name="com.bill.zhihu.ZhihuApp" android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/icon" android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bill.zhihu.login.ActivityLogin"
            android:label="@string/action_default_title" >
        </activity>
        <activity android:name="com.bill.zhihu.home.ActivityHome" />

    </application>

</manifest>
